header {
    background-image: url("../img/hero_bg_2.jpg");
    height: 100vh;
    // background-color:#ef7a97;
    // opacity: 75%;

    li:hover {
        // text-decoration: underline white;
        border-bottom: solid 2px white;
    }
}

main {
    .product {
        background-color:#ef7a97;
        .img {
            height:26vh;
        }
    }
}

// main {
//     .services {
//         .cart {
//             ul{
//                 li{
//                     list-style-image: url("fas fa-dot-circle");
//                 }
//             }
//         }
//     }
// }